---
- name: CLI commands playbook
  hosts: "{{ target }}"
  gather_facts: False
  serial: 1
  vars:
    report_path: "</path/to/report.txt>"

  tasks:
    - name: Specified command is run
      cisco.ios.ios_command:
        commands: "{{ survey_input | default('show version') }}"
      register: output
      ignore_errors: true

    - name: Append results to single {{ report_path }}
      ansible.builtin.blockinfile:
        path: "{{ report_path }}"
        create: yes
        marker: "# {mark} {{ inventory_hostname }}"
        block: |
          ===================================================
          DEVICE:    {{ inventory_hostname }}
          TIMESTAMP: {{ now(fmt='%Y-%m-%d %H:%M:%S') }}
          COMMAND:   {{ survey_input | default('show version') }}
          ---------------------------------------------------
          OUTPUT:
          {{ output.stdout[0] }}
          ---------------------------------------------------
          ===================================================
      delegate_to: localhost
      throttle: 1
